body {
  background-color: rgb(0, 0, 59);
}

#title {
  background-color: lightblue;
  color: black;
  margin: 50px;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
 }

.details {
  background-color: white;
  color: black;
  margin: 50px;
  padding: 20px;
  text-align: left;
  font-family: sans-serif;
}

.details a{
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-style: italic;
}

.details a:link, a:visited{
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-style: italic;
}

.details a:hover, a:active {
  color: rgb(136, 136, 136);
}




